.faceBody {
    width: 100vw;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /*   background-color: #dab785; */
    z-index: -100;
  }
  
  .container {
    width: 58vh;
    position: relative;
    cursor: pointer;
      display: flex;
    justify-content: space-between;
  }
  
  .iris {
    position: absolute;
    width: 6.5vh;
    height: 6.5vh;
    border: 5px solid black;
    background-color: black;
    border-radius:50%;
    left:9vh;  
    top:8vh;
  }

  
  .eyeBall {
    position: relative;
    width: 24vh;
    height: 29vh;
    background-color: white;
    border: 0 solid #333;
    border-radius:100% 0;
    box-shadow: inset 10px 11px 20px rgba(0,0,0,0.3);
    transform: rotate(45deg);
    top:0vh;
    z-index:1;
    overflow: hidden;
  }
  
  
  .container:hover .lid {
    transform: translateY(90px);
  }
  
  .face{
    position: absolute;
    z-index: 100;
    width: auto;
    height: 150vh;
    /* opacity: 20%; */
  }


  .card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
    position:fixed;
    top:100;
    /* left:0; */
    /* z-index: 2000; */
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  /* .card:hover .card-inner {
    transform: rotateY(180deg);
  } */
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-back {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
  }
  

  #flipBtn{
    z-index: 2000;
    /* position: absolute;
    top:0; */
    cursor: pointer;
    width: 100%;
    /* padding:.5rem; */
    border-radius: 5%;
  }

  .switch{
    z-index: 3500;
  }

